html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.main {
  height: 100%;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
}

th {
  background-color: #ee8133;
  color: #ffffff;
  border: solid 1px;
  border-color: #a9a9a9;
  padding: 10px;
}

td {
  border: solid 1px;
  border-color: #a9a9a9;
  padding: 10px;
}

table {
  border-collapse: collapse;
  table-layout: auto;
}
